<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<style>

body {
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
}
h1 {
	margin: auto;
	padding: 20px;
	color:darkslateblue;
	text-align: center;
}

p {
	text-align: center;
	line-height: 1;
	font-size: 20px;
}
ul {
	color:darkred;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
	color:hotpink;
}
img {
	border: 5px darkslategray;
  border-radius: 8px;
}
</style>
</head>
</html>
