<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<style>
.header {
  padding: 60px;
  text-align: center;
  background: green;
  color: white;
}

.header h1 {
  margin: 0;
}

.main {
  width: 70%;
  padding: 20px;
}

.navigation {
  display: flex;
  justify-content: center;
  background-color: black;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

body {
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 500px) {
  .navigation {
    flex-direction: column;
  }

  .navigation a {
    padding: 10px;
  }
}


</style>
</head>
</html>
